@import url(https://fonts.googleapis.com/css?family=Josefin+Sans|Lato:900|Roboto);

$pentasys-red: #d71920;
$pentasys-orange: #f15a22;
$big-titles-lato: 'Lato', sans-serif;
$normal-titles-josefin: 'Josefin Sans', sans-serif;