@import './variables';

$md-btn-color: #ffd740;

button {
 font-family: 'Dosis', sans-serif;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  height: 36px;
  min-width: 88px;
  padding: 6px 16px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border:0;
  border-radius: 2px;
  background: $md-btn-color;
  color:#000000;
  outline:0;
  margin-left: 5px;
  &:focus {
    background: darken($md-btn-color, 12%)  
  }
}

button {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
              0 1px 5px 0 rgba(0, 0, 0, 0.12), 
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  
  &:active {
      box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
                  0 3px 14px 2px rgba(0, 0, 0, 0.12),
                  0 5px 5px -3px rgba(0, 0, 0, 0.4);
  }
}

/*
 Ripple
*/
button {
  overflow: hidden;
  position: relative;
}

button:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  background: rgba(255,255,255,0.3);
  border-radius: 100%;
  transform: scale(0);
}

@keyframes md-btn-ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

button:not(:active):after {
  animation: md-btn-ripple 0.6s ease-out;
}

button:after {
  visibility: hidden;
}

button:focus:after {
  visibility: visible;
}
